In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'diabetes.csv')
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0
2,0,145,0,0,0,44.2,0.630,31,1
3,0,135,68,42,250,42.3,0.365,24,1
4,1,139,62,41,480,40.7,0.536,21,0

In [3]:
data.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1995,2,75,64,24,55,29.7,0.370,33,0
1996,8,179,72,42,130,32.7,0.719,36,1
1997,6,85,78,0,0,31.2,0.382,42,0
1998,0,129,110,46,130,67.1,0.319,26,1
1999,2,81,72,15,76,30.1,0.547,25,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               2000 non-null   int64
 1   Glucose                   2000 non-null   int64
 2   BloodPressure             2000 non-null   int64
 3   SkinThickness             2000 non-null   int64
 4   Insulin                   2000 non-null   int64
 5   BMI                       2000 non-null   float64
 6   DiabetesPedigreeFunction  2000 non-null   float64
 7   Age                       2000 non-null   int64
 8   Outcome                   2000 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 140.8 KB

In [5]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,3.703500,121.182500,69.145500,20.935000,80.254000,32.193000,0.470930,33.090500,0.342000
std,3.306063,32.068636,19.188315,16.103243,111.180534,8.149901,0.323553,11.786423,0.474498
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,63.500000,0.000000,0.000000,27.375000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,40.000000,32.300000,0.376000,29.000000,0.000000
75%,6.000000,141.000000,80.000000,32.000000,130.000000,36.800000,0.624000,40.000000,1.000000
max,17.000000,199.000000,122.000000,110.000000,744.000000,80.600000,2.420000,81.000000,1.000000

In [6]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [7]:
type(data)

pandas.core.frame.DataFrame

In [8]:
data.ndim #dimensions of the data

2

In [9]:
data.shape

(2000, 9)

data.columns

In [10]:
x = data.columns

In [11]:
data['Outcome'].unique()

array([1, 0], dtype=int64)

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
data_sc = StandardScaler().fit_transform(data)

In [14]:
 data_sc = pd.DataFrame(data_sc)

In [15]:
data_sc

,0,1,2,3,4,5,6,7,8
0,-0.515394,0.524553,-0.372481,0.873645,-0.722016,0.172683,-1.063246,1.180424,1.387075
1,-1.120495,-1.159756,0.670080,0.625186,0.402563,0.737249,-0.735551,-0.856326,-0.720942
2,-1.120495,0.742890,-3.604422,-1.300374,-0.722016,1.473638,0.491759,-0.177409,1.387075
3,-1.120495,0.430980,-0.059713,1.308449,1.527142,1.240448,-0.327478,-0.771462,1.387075
4,-0.817945,0.555744,-0.372481,1.246334,3.596367,1.044077,0.201161,-1.026055,-0.720942
...,...,...,...,...,...,...,...,...,...
1995,-0.515394,-1.440474,-0.268225,0.190382,-0.227201,-0.305970,-0.312021,-0.007680,-0.720942
1996,1.299907,1.803381,0.148800,1.308449,0.447546,0.062225,0.766899,0.246914,1.387075
1997,0.694807,-1.128565,0.461568,-1.300374,-0.722016,-0.121872,-0.274924,0.756101,-0.720942
1998,-1.120495,0.243835,2.129667,1.556908,0.447546,4.284191,-0.469686,-0.601732,1.387075
1999,-0.515394,-1.253329,0.148800,-0.368651,-0.038272,-0.256877,0.235167,-0.686597,-0.720942

In [16]:
data_sc.columns = x

In [17]:
data_sc

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,-0.515394,0.524553,-0.372481,0.873645,-0.722016,0.172683,-1.063246,1.180424,1.387075
1,-1.120495,-1.159756,0.670080,0.625186,0.402563,0.737249,-0.735551,-0.856326,-0.720942
2,-1.120495,0.742890,-3.604422,-1.300374,-0.722016,1.473638,0.491759,-0.177409,1.387075
3,-1.120495,0.430980,-0.059713,1.308449,1.527142,1.240448,-0.327478,-0.771462,1.387075
4,-0.817945,0.555744,-0.372481,1.246334,3.596367,1.044077,0.201161,-1.026055,-0.720942
...,...,...,...,...,...,...,...,...,...
1995,-0.515394,-1.440474,-0.268225,0.190382,-0.227201,-0.305970,-0.312021,-0.007680,-0.720942
1996,1.299907,1.803381,0.148800,1.308449,0.447546,0.062225,0.766899,0.246914,1.387075
1997,0.694807,-1.128565,0.461568,-1.300374,-0.722016,-0.121872,-0.274924,0.756101,-0.720942
1998,-1.120495,0.243835,2.129667,1.556908,0.447546,4.284191,-0.469686,-0.601732,1.387075
1999,-0.515394,-1.253329,0.148800,-0.368651,-0.038272,-0.256877,0.235167,-0.686597,-0.720942

In [18]:
import tensorflow as tf